<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <h1 class="text-center name-app">Monster Slayer - Vue.js</h1>
    <section class="row">
        <div class="small-6 columns">
            <img src="img/hero.png" alt="Hero">
            <div class="healthbar">
                <div v-bind:style="{ width: playerHealth + '%' }" class="healthbar text-center"
                     style="background-color: green; margin: 0; color: white;">
                    {{ playerHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <img src="img/dragon.svg" alt="Dragon">
            <div class="healthbar">
                <div v-bind:style="{ width: monsterHealth + '%' }" class="healthbar text-center"
                     style="background-color: green; margin: 0; color: white;">
                    {{ monsterHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls">
        <div class="small-12 columns">
            <button id="start-game" @click="show = !show, startGame()">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="show">
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-show="show, attackHistory.length > 0">
        <div class="small-12 columns">
            <ul>
                <li v-for="hist in attackHistory" class="history">
                    {{ hist }}
                </li>
            </ul>
        </div>
    </section>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data() {
            return {
                show: false,
                monsterHealth: 100,
                playerHealth: 100,
                monsterHit: 0,
                playerHit: 0,
                attackHistory: [],
                monsterDamage: 0,
                playerDamage: 0
            }
        },
        methods: {
            attack: function () {
                let startMonsterHealth = this.monsterHealth
                let startPlayerHealth = this.playerHealth
                this.monsterDamage = this.monsterHealth -= (Math.floor(Math.random() * 20) + 1)
                this.playerDamage = this.playerHealth -= (Math.floor(Math.random() * 20) + 1)
                this.attackHistory.push("MONSTERS HIT PLAYERS FOR " + (this.monsterHit = (startPlayerHealth - this.playerDamage)))
                this.attackHistory.push("PLAYER HIT MONSTER FOR " + (this.playerHit = (startMonsterHealth - this.monsterDamage)))
                if (this.monsterHealth <= 0) {
                    this.monsterHealth = 0
                    alert("Player Win")
                }
                else if (this.playerHealth <= 0) {
                    this.playerHealth = 0
                    alert("Monster Win")
                }
            },
            heal: function () {
                let randHealGenerator = Math.floor(Math.random() * 10) + 1
                if (randHealGenerator + this.playerHealth <= 100) {
                    this.playerHealth += randHealGenerator
                }
                else{
                    alert("Player can't heal up anymore")
                }
            },
            giveUp: function () {
                if (confirm('Monster Win')){
                    this.show = false
                    this.attackHistory = []
                    this.monsterHealth = 100
                    this.playerHealth= 100
                }
            },
            startGame: function () {
                this.attackHistory = []
                this.monsterHealth = 100
                this.playerHealth = 100
            },
            specialAttack: function () {
                let startMonsterHealth = this.monsterHealth
                let startPlayerHealth = this.playerHealth
                this.monsterDamage = this.monsterHealth -= (Math.floor(Math.random() * 16)) + 1
                this.playerDamage = this.playerHealth -= (Math.floor(Math.random() * 16)) + 1
                this.attackHistory.push("MONSTERS HIT PLAYERS WITH SPECIAL ATTACK FOR " + (this.monsterHit = (startPlayerHealth - this.playerDamage)))
                this.attackHistory.push("PLAYER HIT MONSTER WITH SPECIAL ATTACK FOR " + (this.playerHit = (startMonsterHealth - this.monsterDamage)))
                if (this.monsterHealth <= 0) {
                    this.monsterHealth = 0
                    alert("Player Win")
                }
                else if (this.playerHealth <= 0) {
                    this.playerHealth = 0
                    alert("Monster Win")
                }
            }
        }
    })
</script>
</body>
</html>
